
table {
    /* border: 1px solid aqua; */
    border-collapse: collapse;
    font-size: 48px;
    margin: 0 auto;
}

table td {
    padding: 0.5rem;
    border: 3px solid rgba(0, 0, 0, 0.585);
    width: 120px;
    height: 120px;
    align-items: center;
    font-size: 64px;
    color:rgb(92, 171, 205)
}

/*TOP*/
table tr:first-child td{
    border-top: none;
}

/*BOTTOM*/
table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    border-left: none;
}

table tr td:last-child {
    border-right: none;
}

#msg {
    color: rgb(4, 125, 6);
    text-align: center;
    font-size: 32px;
    background-color: rgb(240, 255, 243);
}

#restart-btn {
    width: auto;
    display: block;
    margin: auto;
    margin-top: 80px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.782);
    color: beige;
    border: none;
    padding: 15px 32px;
    border-radius: 16px;
    cursor: pointer;
}

#restart-btn:hover {
    transition: transform .2s;
    transform: scale(1.5);
}